<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>P2PChatty</title>
        <link rel="icon" type="image/png" href="../images/infiLogo.png"/>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="fragments/commonDependencies :: commonDependencies" th:remove="tag"/>
        <link rel="stylesheet" href="../css/pageLoader.css"/>
        <link rel="stylesheet" href="../css/bootstrap-datetimepicker.css" />
        <script src="../js/jquery.min.js"></script>
        <script src="../js/file_input.js"></script>
        <script src="../js/Interactive/enable/likeEnable.js"></script>
        <script src="../js/Interactive/enable/commentEnable.js"></script>
        <script src="../js/Interactive/enable/notificationEnable.js"></script>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
    <body>
        <div th:replace="fragments/header::userInfo" />
        <div th:replace="fragments/util/loader::loader"/>
        <div class="container">
            <div class="row" style="margin-top: 80px;" >
                <!-- left side -->
                <div  class="parentForAff col-md-3 col-sm-4 col-xs-12">     
                    <div class="wrap fixed_profile_info chal_side" data-spy="affix" data-offset-top="120">
                        <div class="chalShowChallenge">
                            <input type="hidden" id="avatarImage" th:value="${userProfile.getCommentImageEntity().getBase64()}" />
                            <div class="row">
                                <div class="section-header main-column">
                                    <input id="mainObjectId" type="hidden" th:value="${chat.getId()}" name="id"/>
                                    <div class="chal-photo col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img style="width:100%;" class="img-responsive img-rounded" th:src="${chat.getMainImageEntity().getBase64()}"/>
                                    </div> 
                                    <div class="box-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2  th:text="${#strings.toUpperCase(chat.getName())}" style="display: inline-block;margin-top: 10px; margin-bottom: 5px;"/>   
                                        <form auth:can="EDIT_CHALLENGE" method="GET" action="update" style='display: inline-block; margin-left: 20px;'>
                                            <input type="hidden" th:value="${chat.getId()}" name="id"/>
                                            <a onclick='this.parentNode.submit();'>
                                                <span class="glyphicon glyphicon-wrench" style="font-size: 30px;" />
                                            </a>
                                        </form>
                                    </div>
                                    <div class="box-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4 id="desc" class="col-md-12" style="margin-top: 0px;
                                            margin-bottom: 0px;" th:text="${chat.getDescription()}"/>
                                    </div>
                                    <input type="hidden" name="id" th:value="${chat.getId()}" />
                                </div>                     
                            </div> 
                            <hr style="margin-bottom: 5px;" class="hr_divider"/>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12"><i class="glyphicon glyphicon-calendar"> </i>
                                    <span th:text="${#dates.format(chat.getDate(), 'dd/MM/yyyy HH:mm')}" />
                                </div>
                            </div>
                            <hr style="margin-bottom: 5px;" class="hr_divider"/>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <form action="/profile">
                                        <input type="hidden" name="id" th:value="${chat.getCreator().getId()}" />
                                        <a onclick="this.parentNode.submit()"><i class="glyphicon glyphicon-user"></i>
                                            <span th:text="${chat.getCreator().getName()}" />
                                        </a>
                                    </form>
                                </div> 
                            </div>
                            <hr style="margin-bottom: 0px;" class="hr_divider"/>
                            <div class="row">
                                <div style="margin-top: 0px;" class="chal_column"  th:if="${chat.getMembers().size() gt 0}">
                                    <div class="row">
                                        <h3 class="col-lg-8 col-md-8 col-sm-9 col-xs-9" style="margin-top: 5px; margin-bottom: 5px;" th:text="#{membersLabelShow}" />
                                        <form  th:if="${chat.getMembers().size() gt 4}" th:id="'show_all_acceptors'" method="GET" action="/acceptors">
                                            <input type="hidden" id="chal-id" name="id" th:value="${chat.getId()}" />
                                            <div style="margin-top:13px;" class="pull-right"> 
                                                <i class="glyphicon glyphicon-new-window"> </i>
                                                <span style="cursor: pointer"  onclick="this.parentNode.parentNode.submit()" th:text="#{showAllAcceptorsLabel}"></span>
                                            </div>
                                        </form>
                                    </div>
                                    <div th:each="member : ${chat.getMembers()}" >
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                                            <div style="max-width: 50px;max-height:50px;  margin-left: auto;                                             margin-right: auto;">
                                                <form action="/profile">
                                                    <img style="cursor: pointer" onclick="this.parentNode.submit()" th:src="${member.getCommentImageEntity().getBase64()}" class="img-rounded img-responsive" />
                                                    <input type="hidden" th:value="${member.getId()}" name="id"/>
                                                </form>
                                            </div>
                                            <span  class="text-center chal-meta" th:text="${member.getName()}"></span>                                      
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- right side -->
                <div class=" col-md-9 col-lg-9 col-sm-8 col-xs-12">
                    <div class="chalShowChallenge" th:unless="${currentUserConnection == null}">
                        <div class="row">
                            <div class="main-column">
                                <div>
                                    <h3 style="margin-bottom: 5px;" th:text="#{newCommentLabel}"/>
                                </div>
                                <input type="hidden" id="new-comment-header" th:value="#{newCommentHeader}" />
                                <form th:object="${message}" th:class="${chat.getIsToPersist()} ? 'send-comment':'sendInstant'" th:action="@{/newinscomment}" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <input type="hidden" name="idMainObject" th:value="${chat.getId()}"/>
                                    <input type="hidden" id="userName" th:value="${currentUserDisplayName}"/>
                                    <input type="text" id="newMessageText" class="form-control" th:placeholder="#{messagePlaceholder}" th:field="*{text}" />
                                    <div class="alert alert-danger commentError" style="display:none;">
                                        <p th:text="#{emptyCommentError}">Name Error</p>    
                                    </div>
                                    <div class="alert alert-danger" th:if="${#fields.hasErrors('text')}">
                                        <p  th:errors="*{text}">Name Error</p>    
                                    </div>
                                    <input type="submit" class="btn btn-default" th:value="#{sendMessage}" />
                                    <button id="sendFileRTCBtn" class="sendFileBtn btn btn-default pull-right" th:value="#{sendFileButton}">File</button>
                                    <input type="file" id="fileIpt" th:title="#{uploadFileButton}" style="margin-right: 10px;" class="fileIpt pull-right"/>
                                    <script type='text/javascript'>
                                        $('input[type=file]').bootstrapFileInput();
                                        $('.file-inputs').bootstrapFileInput();
                                    </script>  
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="chalShowChallenge">
                        <div class="row">                                    
                            <div id="videos" style="display:none" >
                                <video id="me" autoplay="autoplay"></video>
                            </div>
                            <div id="files" style="display:none">
                            </div>
                            <div class="main-column">
                                <input th:if="${userProfile!=null}"  type="hidden" id="current-user-id" th:value="${userProfile.getId()}" />
                                <input th:if="${userProfile!=null}"  type="hidden" id="user-id" th:value="${userProfile.getId()}" />
                                <div>
                                    <h3 style="display: inline-flex;" th:text="#{messagesCount}+': '"></h3><h3 style="display: inline;" id="commentCounter" th:text="${messagesCount}"></h3>
                                </div>
                                <div class="msgs" id="msgs"></div>
                                <div class="comments-list">
                                    <ul th:if="${userProfile!=null}" class="comments_left_shift media" id="templateMainComment" style="display: none;">
                                        <li style="display: none;" id="templateComment">
                                            <li  th:replace="fragments/modelElementsViews/message :: submessage(message =${hiddenMessage}, depth=0)" />
                                        </li>
                                        <hr class="comments_divider"/>
                                    </ul>
                                    <ul class="comments_left_shift media" th:each="message : ${messages}" >
                                        <li th:replace="fragments/modelElementsViews/message :: submessage(message =${message}, depth=0)"/>                                 
                                        <hr class="comments_divider"/>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal for friends-->
        <tr th:if="${currentUserConnection != null}">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
            <script src="../js/Interactive/mainInteractive.js"></script>
            <script src="../js/Interactive/enable/notificationEnable.js"></script>
            <script src="../js/globalContext.js"></script>
            <script src="../js/Interactive/enable/likeEnable.js"></script>
            <script src="../js/Interactive/enable/commentEnable.js"></script>
        </tr>
        <div th:replace="fragments/customModal::modalBody" />
        <script type='text/javascript' src='../js/ajaxSearch.js'></script>
        <script th:replace="fragments/commonDependencies :: commonJS" th:remove="tag"/>
        <script src="../js/csslayoutextenders/chalShowLayout.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script src="../js/dateAndImageHelper.js"></script>
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <script type="text/javascript" src="../js/sharepanel.js"></script>

        <script type="text/javascript" src="../js/SkyRTC-client.js"></script>
        <script type="text/javascript" src="../js/webrtcHelper.js"></script>
    </body>
</html>

